*{
    box-sizing: border-box;

}

.card-body{
    background: linear-gradient(45deg, #ffffff, #f1d2a4d8);
    
    border-radius: 3px;
}
.error{
    color: orangered;
    font-weight: 500;
    font-size: 18px;
 
}
.success{
    color: green;
}
